{% extends 'base.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block body %}
    <div class="block">
        <h2 class="pb-30">Page de profil</h2>
    </div>
    <div class="block mt-20 text-center">
        <h2>Vos statistiques</h2>
    </div>
    <div class="d-flex flex-row-nowrap mt-20">
        <a href="{{path('show_questions')}}" class="block flex-fill mr-10" title="Vos questions">
            <h3>Questions:</h3>
            <div class="d-flex flex-row-nowrap justify-content-between mt-10">
                <h4>Nombre de questions:</h4>
                <p>{{app.user.getQuestions() | length()}}</p>
            </div>
            <div class="d-flex flex-row-nowrap justify-content-between mt-10">
                <h4>Moyenne des votes:</h4>
                <p>{{ app.user.totalQuestionsRating / app.user.totalQuestions }}</p>
            </div>
            <div class="d-flex flex-row-nowrap justify-content-between mt-10">
                <h4>Question la plus populaire:</h4>
            </div>
                {# <p>{{ app.user.getQuestions() | sort() }}</p> #}
            {# {% if app.user.getQuestionWithHighestRating() is not null %}
                    <p>{{ app.user.getQuestionWithHighestRating().content }}</p>
            {% endif %} #}
        </a>
        <a href="{{path('show_comments')}}" class="block flex-fill ml-10" title="Vos reponses">
            <h3>Réponses:</h3>
            <div class="d-flex flex-row-nowrap justify-content-between mt-10">
                <h4>Nombre de réponses:</h4>
                <p>{{app.user.getComments() | length()}}</p>
            </div>
            <div class="d-flex flex-row-nowrap justify-content-between mt-10">
                <h4>Moyenne des votes:</h4>
                <p>{{ app.user.totalCommentsRating / app.user.totalComments }}</p>
            </div>
        </a>
    </div>
    <div class="block mt-20">
        <a href="{{ path('current_user_profile_settings') }}"><i class="fa-solid fa-gear mr-10"></i>Paramètres du compte</a>
    </div>
{% endblock %}
