{% extends 'base.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('css/show_questions_replies.css')}}">
{% endblock %}

{% block body %}
    <div class="block mb-20">
        <h2 class="pb-30">Profil de {{ user.username }}</h2>
        <div class="d-flex flex-row-nowrap align-items-center">
            <img src="{{user.image}}" alt="User Avatar" class="mr-10 avatar-small">
            <ul>
                <li class="mb-10 align-items-center">
                    <p class="">membre depuis {{ user.signUpDate | format_datetime('full', 'none', locale= 'fr')}}</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="block mb-20">
        <h3 class="pb-30">Ses questions:</h3>
        <ul>
            {% for question in user.questions %}
                <a href="{{path('show_question', {id: question.id})}}" class="d-flex flex-row pb-20 justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="tagQ">Q</h4>
                        <li class="question-title">{{ question.title }}</li>
                    </div>
                    <div>
                        <p class="fa-solid fa-chart-line mr-10"><span class="ml-10 {% if question.rating > 0 %} rating-up {% elseif question.rating < 0 %} rating-down {% endif %}" >{{question.rating }}</span></p>
                        <p class="fa-solid fa-comment mr-10"><span class="ml-10">{{ question.nbResponse }}</span></p>
                    </div>
                </a>
            {% endfor %}
        </ul>
    </div>
    <div class="block mb-20">
        <h3 class="pb-30">Ses réponses:</h3>
        <ul>
            {% for comment in user.comments %}
                <a href="{{ path('show_question', {id: comment.question.id}) }}" class="d-flex flex-row justify-content-between pb-20 ">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="tagQ">Q</h4>
                        <h4 class="question-title mr-20">{{ comment.question.title }}: 
                        </h4>
                        <p class="tagR">R</p>
                        <p>{{ comment.content | slice(0,50) }}  {% if comment.content | length >= 51 %} 
                        <span title="Voir la suite">...</span> 
                        {% endif %}</p>
                    </div>
                    <p class="fa-solid fa-chart-line mr-10"><span class="ml-10 {% if comment.rating > 0 %} rating-up {% elseif comment.rating < 0 %} rating-down {% endif %}" >{{comment.rating}}</span></p>
                </a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
